<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Engineeering Guidance Chatbot</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static/css/Style.css' }}">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Baloo+Chettan+2|Tangerine&display=swap" rel="stylesheet">
	<link rel="icon" href="img/roboimagecircle.jpg">
</head>
<body>
	<header>
		<img class="logo" src="images/log.png">
		<nav>
		<ul>
			<li><a class="active" href="C:\Users\Ninad\PycharmProjects\Benio\templates\index.html">Home</a></li>
			<li><a href="C:\Users\Ninad\PycharmProjects\Benio\templates\main.html">Create Event</a></li>

		</ul>
        </nav>
	</header>
	<div class="top-container">
		<img id="top-cloud" src="images/cloud.png" alt="cloud">
		<div class="Intro">
			<h1>I'm Benio </h1>
	        <p id="p1">Engineeering Guidance Chatbot.</p>
		</div>
		<img id="bottom-cloud" src="images/cloud.png" alt="cloud">
		<img id="mountain" src="images/mountain2.png" alt="mountain-img">
		<div class="bubbles">
			<div class="bubble"></div>
			<div class="bubble"></div>
			<div class="bubble"></div>
			<div class="bubble"></div>
			<div class="bubble"></div>
			<div class="bubble"></div>
			<div class="bubble"></div>
			<div class="bubble"></div>
			<div class="bubble"></div>
			<div class="bubble"></div>
	    </div>
	</div>
	<div class="middle-container">
        <div class="profile">
    		<img class="midlogo" src="images/roboimagecircle.jpg" alt="profilepic">
    		<h2>Hey!</h2>
    		<p class="p2">I'm here to solve all your queries related to engineering field</p>
  		</div>
  		<hr>

        <a class="btn" href="C:\Users\Ninad\PycharmProjects\Benio\templates\main.html">Try Benio</a>
    	<hr>
    	<div id="contact" class="contact-me">
        	<h2>Try Benio</h2>
        	<h3>We are happy to help you</h3>
    		<p class="p2">If you have any queries, you can ask us</p>
    		<a class="btn" href="">MESSAGE ME</a>
  		</div>
  	</div>
    <footer id="f">
		<img class="flogo" src="images/roboimagecircle.jpg">
		<div class="link">
  			<a class="footer-link" href="C:\Users\Ninad\PycharmProjects\Benio\templates\index.html">Home</a>
  			<a class="footer-link" href="C:\Users\Ninad\PycharmProjects\Benio\templates\main.html">Benio</a>
  		</div>


 		 <p class="copyright">© 2023 <a href="#" class="f-link">Benio- Engineeering Guidance Chatbot</a> All rights reserved.</p>
	</footer>
<script type="text/javascript" src="images/main.js"></script>
</body>
</html>